<header>
  <nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav rtl-nav">
      <li class="nav-item">
        <a class="nav-link" href="/signin">
          <img src="../assets/pics/logo_mayo.png" alt="logo" style="width: 2.5rem;  margin: -1rem 1rem;">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signin" routerLinkActive="active">כניסה למערכת</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">הרשמה למערכת</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/odot" routerLinkActive="active">אודות</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link"  href="#" routerLinkActive="active">צור קשר</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#" routerLinkActive="active">עזרה</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>-->
    </ul>
  </nav>
</header>
