<div class="control-table card card-block card-container">
    <h1>לוח בקרה</h1>
    <button type="button" class="btn btn-primary" (click)="addFamily()">להוסיף משפחה</button>




  <table class="table table-hover">
  <thead>
  <tr>
    <th>משפחה</th>
    <th>פעילויות</th>
    <th>משובים</th>
    <th>עדכון תוכנית</th>
    <th>יצירת קשר</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let patient of data.patients">
    <td scope="row"><span class="right">{{patient.contact.lastName}}</span> <i class="material-icons left" (click)="onParentSelect(patient)">person</i></td>
    <td>
      <div *ngFor="let program of patient.program let i = index">
        <div *ngIf="program.status === true">

          <feedback-component [activity]="program.patientActivityList"></feedback-component>
         <!-- <ul class="list-unstyled mdl-list">
            <li class="mdl-list__item"  *ngFor="let activity of " >
              <feedback-component [activity]="activity"></feedback-component>
             &lt;!&ndash; <span class="mdl-list__item-primary-content" >{{activity.activityId}}</span>&ndash;&gt;
              &lt;!&ndash;   &lt;!&ndash; <ul class="list-unstyled">
                 <li *ngfor="let activity of program.patientActivity">{{activity.activityId}}</li>
               </ul>&ndash;&gt;&ndash;&gt;
            </li>
          </ul>-->
        </div>
      </div>
      </td>
    <td><i class="material-icons">insert_drive_file</i></td>
    <td><i class="material-icons">settings_applications</i></td>
    <td><i class="material-icons">contacts</i></td>
  </tr>
  </tbody>
</table>


</div>
