<div >
<div><span class="activity-title">
  {{activity.activityName}}
</span>
  <i class="material-icons"
     ngbPopover="
     {{activity.description}}
"
     popoverTitle="
קטגוריה:
{{activity.activityType}}
|
קבוצת גיל:
{{activity.programName}}
"
     placement="left">
    info_outline
  </i>
</div>

<div>
 <input type="number" min="0" max="14" (change)="changeValue($event)" (focus)="showFreq = true" (blur)="showFreq = false">
  <br>
  <span  class="activity-freq-title" [hidden]="!showFreq"> מספר פעילויות לשבוע </span>
</div>
</div>
