<h1>צפייה בכרטיס משפחה</h1>
<!--<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button"  (click)="tabNumber = 2"  class="btn btn-secondary">ביצוע הפעילויות</button>
    <button type="button" (click)="tabNumber = 1" class="btn btn-secondary">פרטים אישיים</button>
</div>-->
<ngb-tabset>
  <ngb-tab title="ביצוע הפעילויות">
    <template ngbTabContent>
      <div class="card">
        <h3 class="card-title">משפחת {{patient.lastFamily}}</h3>
        <form action="" *ngIf="patient" #patientForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-block">
            <input type="checkbox" id="makeEditableCheckbox" (click)="makeEditable()">
            <label for="makeEditableCheckbox">עדכון פרטים</label>
          </div>
         <!-- <button class="btn btn-outline-info" type="button" (click)="makeEditable()" >עדכון פרטים</button>-->
          <div class="card-block">
            <table class="table">
              <thead>
              <tr>
                <th>שם ההורה</th>
                <th>שם הילד</th>
                <th>תאריך רישום למערכת</th>
              </tr>
              </thead>
              <tbody>
              <td><input type="text" [value]="contact.parentName" (change)="contact.parentName = $event.target.value" required [disabled]="!editable"></td>
              <td><input type="text" [value]="contact.childName" (change)="contact.childName = $event.target.value" required  [disabled]="!editable"></td>
              <td><input  type="date" [value]="contact.startDate" (change)="contact.startDate = $event.target.value" [disabled]="!editable"></td>
              </tbody>
            </table>
            <table class="table">
              <thead>
              <tr>
                <th>טלפון</th>
                <th>טלפון נוסף</th>
                <th>כתובת אימייל</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><input type="tel" [value]="contact.tel" (change)="contact.tel = $event.target.value" required [disabled]="!editable"></td>
                <td><input type="tel" [value]="contact.tel2 || ''" [disabled]="!editable" (change)="contact.tel2 = $event.target.value" ></td>
                <td><input type="email" [value]="contact.email" required [disabled]="!editable" (change)="contact.email = $event.target.value"></td>
              </tr>
              <tr>
                <input id="comments" type="checkbox" (change)="comments = $event.target.checked">
                <label for="comments">הערות</label>
                <br>
                <textarea *ngIf="comments" [value]="contact.comments || ''" (change)="contact.comments = $event.target.value" ></textarea>

              </tr>
              </tbody>
            </table>
          </div>
          <div class="card-block">
            <button class="btn btn-outline-primary" type="submit" [disabled]="!patientForm.form.valid">שמירה</button>
            <button (click)="onCancel()" type="reset" class="btn btn-outline-secondary">ביטול</button>
          </div>

        </form>
      </div>

    </template>
  </ngb-tab>
  <ngb-tab title="פרטים אישיים">
    <template ngbTabContent>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">    צפייה בהתקדמות ביצוע הפעילויות</h4>
        </div>
        <ul class="list-group list-unstyled">
          <li *ngIf="activitiesResponse.notCarriedOut>0" ><span>{{activitiesResponse.notCarriedOut}}</span>  פעילויות  לא בוצעו מתוך {{activitiesResponse.overallActivities}}  פעילויות</li>
          <li *ngIf="activitiesResponse.notCooperating>0" ><span>{{activitiesResponse.notCarriedOut}}</span>  פעילויות  לא שיתף פעולה מתוך {{activitiesResponse.overallActivities}}  פעילויות</li>
          <li *ngIf="activitiesResponse.partialExecution>0"><span>{{activitiesResponse.partialExecution}}</span>  בוצע חלקית מתוך {{activitiesResponse.overallActivities}} </li>
          <li *ngIf="activitiesResponse.done>0"><span>{{activitiesResponse.done}}</span> בוצע מתוך {{activitiesResponse.overallActivities}}  פעולוית</li>
        </ul>
        <div class="card-block">
          <a href="#" class="btn btn-primary">שינוי תוכנית</a>
        </div>

      </div>
      <div class="card">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>פעילויות</th>
            <th>סוג הפעילויות</th>
            <th>משוב</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let activity of patient.activities" [ngClass]="{'table-danger': activity.activityResponse === 'Not Carried Out' || activity.activityResponse === 'Not Cooperating',
          'table-warning': activity.activityResponse === 'Partial Execution'}">
            <td>
              {{activity.activityName}}
            </td>
            <td> {{activity.activityGroup}}</td>
            <td [ngSwitch]="activity.activityResponse">
              <span *ngSwitchCase="'Done'">בוצע בהצלחה</span>
              <span *ngSwitchCase="'Not Carried Out'">לא בוצע</span>
              <span *ngSwitchCase="'Not Cooperating'">לא משתף פעולה</span>
              <span *ngSwitchCase="'Partial Execution'">בוצה חלקית</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </template>
  </ngb-tab>
</ngb-tabset>
<!--<div *ngIf="tabNumber === 1" class="card" >
    <form action="" *ngIf="patient" #patientForm="ngForm" (ngSubmit)="onSubmit()">
        <h3 class="card-title">משפחת {{patient.lastFamily}}</h3>
        <button class="btn btn-outline-info" type="button" (click)="makeEditable()" >עדכון פרטים</button>
      <div class="card-block">
        <table class="table">
          <thead>
          <tr>
            <th>שם ההורה</th>
            <th>שם הילד</th>
            <th>תאריך רישום למערכת</th>
          </tr>
          </thead>
          <tbody>
          <td><input type="text" [value]="contact.parentName" (change)="contact.parentName = $event.target.value" required [disabled]="!editable"></td>
          <td><input type="text" [value]="contact.childName" (change)="contact.childName = $event.target.value" required  [disabled]="!editable"></td>
          <td><input  type="date" [value]="contact.startDate" (change)="contact.startDate = $event.target.value" [disabled]="!editable"></td>
          </tbody>
        </table>
        <table class="table">
          <thead>
          <tr>
            <th>טלפון</th>
            <th>טלפון נוסף</th>
            <th>כתובת אימייל</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input type="tel" [value]="contact.tel" (change)="contact.tel = $event.target.value" required [disabled]="!editable"></td>
            <td><input type="tel" [value]="contact.tel2 || ''" [disabled]="!editable" (change)="contact.tel2 = $event.target.value" ></td>
            <td><input type="email" [value]="contact.email" required [disabled]="!editable" (change)="contact.email = $event.target.value"></td>
          </tr>
          <tr>
            <input id="comments" type="checkbox" (change)="comments = $event.target.checked">
            <label for="comments">הערות</label>
            <br>
            <textarea *ngIf="comments" [value]="contact.comments || ''" (change)="contact.comments = $event.target.value" ></textarea>

          </tr>
          </tbody>
        </table>
      </div>
        <div class="card-block">
          <button class="btn btn-outline-primary" type="submit" [disabled]="!patientForm.form.valid">שמירה</button>
          <button (click)="onCancel()" type="reset" class="btn btn-outline-secondary">ביטול</button>
        </div>

    </form>
</div>
<div *ngIf="tabNumber === 2">

    &lt;!&ndash;<table class="table">
        <thead>
        <tr>
            <th>פעילויות</th>
            <th>משובים</th>
            <th>עדכון תוכנית</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <ul class="list-unstyled">
                    <li *ngIf="activitiesResponse.notCarriedOut>0" ><span>{{activitiesResponse.notCarriedOut}}</span>  פעילויות  לא בוצעו מתוך {{activitiesResponse.overallActivities}}  פעילויות</li>
                     <li *ngIf="activitiesResponse.notCooperating>0" ><span>{{activitiesResponse.notCarriedOut}}</span>  פעילויות  לא שיתף פעולה מתוך {{activitiesResponse.overallActivities}}  פעילויות</li>
                    <li *ngIf="activitiesResponse.partialExecution>0"><span>{{activitiesResponse.partialExecution}}</span>  בוצע חלקית מתוך {{activitiesResponse.overallActivities}} </li>
                    <li *ngIf="activitiesResponse.done>0"><span>{{activitiesResponse.done}}</span> בוצע מתוך {{activitiesResponse.overallActivities}}  פעולוית</li>
                </ul>
            </td>
            <td><i (click)="responseRoute()" class="material-icons">settings_applications</i></td>
            <td><i class="material-icons">contacts</i></td>
        </tr>
        </tbody>
    </table>&ndash;&gt;
    <div class="card">
      <div class="card-block">
      <h4 class="card-title">    צפייה בהתקדמות ביצוע הפעילויות</h4>
        </div>
      <ul class="list-group list-unstyled">
        <li *ngIf="activitiesResponse.notCarriedOut>0" ><span>{{activitiesResponse.notCarriedOut}}</span>  פעילויות  לא בוצעו מתוך {{activitiesResponse.overallActivities}}  פעילויות</li>
        <li *ngIf="activitiesResponse.notCooperating>0" ><span>{{activitiesResponse.notCarriedOut}}</span>  פעילויות  לא שיתף פעולה מתוך {{activitiesResponse.overallActivities}}  פעילויות</li>
        <li *ngIf="activitiesResponse.partialExecution>0"><span>{{activitiesResponse.partialExecution}}</span>  בוצע חלקית מתוך {{activitiesResponse.overallActivities}} </li>
        <li *ngIf="activitiesResponse.done>0"><span>{{activitiesResponse.done}}</span> בוצע מתוך {{activitiesResponse.overallActivities}}  פעולוית</li>
      </ul>
      <div class="card-block">
        <a href="#" class="btn btn-primary">שינוי תוכנית</a>
      </div>

    </div>
  <div class="card">
  <table class="table table-bordered">
        <thead>
        <tr>
          <th>פעילויות</th>
          <th>סוג הפעילויות</th>
          <th>משוב</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let activity of patient.activities" [ngClass]="{'table-danger': activity.activityResponse === 'Not Carried Out' || activity.activityResponse === 'Not Cooperating',
          'table-warning': activity.activityResponse === 'Partial Execution'}">
          <td>
           {{activity.activityName}}
          </td>
          <td> {{activity.activityGroup}}</td>
          <td [ngSwitch]="activity.activityResponse">
            <span *ngSwitchCase="'Done'">בוצע בהצלחה</span>
            <span *ngSwitchCase="'Not Carried Out'">לא בוצע</span>
            <span *ngSwitchCase="'Not Cooperating'">לא משתף פעולה</span>
            <span *ngSwitchCase="'Partial Execution'">בוצה חלקית</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>-->
